client/node_modules
server/node_modules
server/public/hot
server/public/storage
server/storage/*.key
server/storage
server/.env
.env.backup
server/.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
server/npm-debug.log
server/yarn-error.log
/.idea
/.vscode
server/composer.lock
server/vendor
client/package-lock-.json
client/dist
client/.angular
 .DS_Store