<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">This is an Angular Todo List with a Laravel Backend</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  <p>Designed with <i class="bi bi-balloon-heart-fill text-danger"></i> by <a class="footer-text" href="https://ogbugarubasunday.surge.sh/">Ogbu Garuba Sunday</a></p>
</div>